footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}

.nav-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

/* Mobile responsive */
@media screen and (max-width: 768px) {
  footer {
    height: auto;
    padding: 2rem 0;
  }
  
  .nav-links {
    gap: 1rem;
    font-size: 1.2rem;
  }
}
